.section {
  padding: 4rem 0;
  background-color: #f0f8ff;
}

.techCard {
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techCard h3 {
  margin-top: 0;
  color: #735ce6;
}

.imageContainer {
  text-align: center;
  margin-top: 2rem;
}

.sectionImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}